<br><br>
<h1 style="text-align: center;" class="text text1"><u> <i class='bx bxs-store'></i> FORO TECLADOS.NET <br></u></h1>
<br>
<h2 class="text title">😁 <u> Hoy tenemos para comentar y compartir experiencias sobre el teclado : </u></h2><br>
<h4 class="text title2">CORSAIR K60 RGB PRO Low Profile Mechanical Gaming Keyboard — CHERRY® MX Low Profile Speed (ES)
</h4>
<img style="border-radius:15px ;"
  src="https://s1.eestatic.com/2021/09/20/imprescindibles/613449961_209051692_1024x576.jpg" alt="Teclado">

<br><br>
<h2 class="text comen"><u><i class='bx bx-message-dots'></i> Comentarios</u></h2>
<div class="container">

  <div class="comentarios">
    <table class="table" *ngIf="!error">
      <thead>
        <th class="text">Nombre</th>
        <th class="text">Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td class="text2"><i class='bx bxs-user-detail'></i><br> {{ post.title }}</td>
          <td class="text"><br> {{ post.content }}</td>
        </tr>
      </tbody>
      <hr>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>
  <br><br><br>
  <h2 class="text"><u> Deja tu Comentario</u></h2>
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <label class="text">Nombre</label>
        <input type="text" class="form-control" formControlName="title" />

        <div class="help-text" *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
          Titulo es Requerido
        </div>

      </div>


      <div class="form-group">
        <label class="text">Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div class="help-text" *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched">
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary ">Publicar</button>
      </div>
    </form>
  </div>

  <!-- limpiar comentarios -->
  <!-- <div>
    <a href="#" (click)="onClearPosts($event)">limpiar comentarios</a>
  </div>
 -->

</div>




<br><br><br><br><br>

<br>
<h2 class="text title"><u> 🤔 Que opinan sobre el teclado ... </u> </h2><br>
<h4 class="text title2">TedGem</h4>
<img style="border-radius:15px ;"
  src="https://queportatilcomprar.net/wp-content/uploads/2021/05/Mejores-Teclados-Gaming-de-2021.jpg" alt="Teclado">

<br><br>

<br><br>
<h2 class="text comen"><u><i class='bx bx-message-dots'></i> Comentarios</u></h2>
<div class="container">

  <div class="comentarios">
    <table class="table" *ngIf="!error">
      <thead>
        <th class="text">Nombre</th>
        <th class="text">Comentario</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts2">
          <td class="text2"><i class='bx bxs-user-detail'></i><br> {{ post.title }}</td>
          <td class="text"><br> {{ post.content }}</td>
        </tr>
      </tbody>
      <hr>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>



  <br><br><br>
  <h2 class="text"><u> Deja tu Comentario</u></h2>
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost2()">
      <div class="form-group">
        <label class="text">Nombre</label>
        <input type="text" class="form-control" formControlName="title" />

        <div class="help-text" *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
          Titulo es Requerido
        </div>

      </div>


      <div class="form-group">
        <label class="text">Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div class="help-text" *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched">
          Contenido es Requerido
        </div>
      </div>

      <div class="my-2">
        <button type="submit" class="btn btn-primary ">Publicar</button>
      </div>
    </form>
  </div>




  <br> <br> <br> <br> <br>



  <br>
  <h2 class="text title"><u>⭐ Qué me recomienda hacer con este teclado? <br> ya van 2 semanas que el teclado no me
      funciona 😣... </u> </h2><br>
  <h4 class="text title2">ANNE PRO 2, Portable RGB Gaming</h4>
  <img style="border-radius:15px ;"
    src="https://i5.walmartimages.com/asr/dc5f3545-ee68-4287-ba22-aa47c5bdd4eb.3ee15c7372846e1098bfef0be1724b54.gif"
    alt="Teclado">

  <br><br>

  <br><br>
  <h2 class="text comen"><u> <i class='bx bx-message-dots'></i> Comentarios</u></h2>
  <div class="container">

    <div class="comentarios">
      <table class="table" *ngIf="!error">
        <thead>
          <th class="text">Nombre</th>
          <th class="text">Comentario</th>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts3">
            <td class="text2"><i class='bx bxs-user-detail'></i><br> {{ post.title }}</td>
            <td class="text"><br> {{ post.content }}</td>
          </tr>
        </tbody>
        <hr>
      </table>
      <div *ngIf="error">
        <div class="alert alert-danger">{{ error }}</div>
      </div>
    </div>



    <br><br><br>
    <h2 class="text"><u> Deja tu Comentario</u></h2>
    <div class="col-md-12">
      <form [formGroup]="postForm" (ngSubmit)="onCreatePost3()">
        <div class="form-group">
          <label class="text">Nombre</label>
          <input type="text" class="form-control" formControlName="title" />

          <div class="help-text" *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
            Titulo es Requerido
          </div>

        </div>


        <div class="form-group">
          <label class="text">Comentario</label>
          <textarea class="form-control" formControlName="content"></textarea>
          <div class="help-text" *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched">
            Contenido es Requerido
          </div>
        </div>

        <div class="my-2">
          <button type="submit" class="btn btn-primary ">Publicar</button>
        </div>
      </form>
    </div>




    <br> <br> <br> <br> <br>

<!-- 
    <h1 class="tema">Crear un nuevo tema</h1>
    <br><br>
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor [editor]="editor" [(ngModel)]="html">
    </ngx-editor>

    <br>
    <div class=" btnp">
      <button class="btn btn-primary" type="button" (click)="Guardar()">Guardar</button>
    </div>
    <br><br>
    <h2 class="text">Compilando...</h2>
    <div style="background-color: white;" [innerHTML]="html"><br></div>
    <br><br><br> -->

    <!-- nuevo -->


<!-- 
    <br><br><br>
    <h2 class="text"><u> Deja tu Comentario</u></h2>
    <div class="col-md-12">
      <form [formGroup]="postForm" (ngSubmit)="onCreatePost3()">
        <div class="form-group">
          <label class="text">Nombre</label>
          <input type="text" class="form-control" formControlName="title" />

          <div class="help-text" *ngIf="!postForm.get('title').valid && postForm.get('title').touched">
            Titulo es Requerido
          </div>

        </div>


        <div class="form-group">
          <label class="text">Comentario</label> -->

<!-- ngx editor -->
          <!-- <h1 class="tema">Crear un nuevo tema</h1>
          <br><br>
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
          <ngx-editor [editor]="editor" [(ngModel)]="html">
          </ngx-editor>

          <br>
          <div class=" btnp">
            <button class="btn btn-primary" type="button" (click)="Guardar()">Guardar</button>
          </div>
          <br><br>
          <h2 class="text">Compilando...</h2>
          <div style="background-color: white;" [innerHTML]="html"><br></div>
          <br><br><br> -->

<!-- ngx editor -->
<!-- 
          <textarea class="form-control" formControlName="content"></textarea>
          <div class="help-text" *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched">
            Contenido es Requerido
          </div>
        </div>

        <div class="my-2">
          <button type="submit" class="btn btn-primary ">Publicar</button>
        </div>
      </form>
    </div> -->