<br><br>
<h1 class="text">&nbsp;&nbsp;<i class='bx bx-message-square'></i>&nbsp;&nbsp; <u>Crear Nuevo Tema </u></h1>
<br><br>
<div class="container">
  
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">

      <!-- titulo -->

      <div class="form-group">
        <label class="text">Titulo</label>
        <input type="text" class="form-control" formControlName="titulo" /><br>

        <div
          class="help-text"
          *ngIf="!postForm.get('titulo').valid && postForm.get('titulo').touched"
        >
          Titulo es Requerido
        </div>
      </div>


    <!-- comentario -->

<!-- 
      <div class="form-group">
        <label>Comentario</label>
        <textarea class="form-control" formControlName="content"></textarea>
        <div
          class="help-text"
          *ngIf="
            !postForm.get('content').valid && postForm.get('content').touched
          "
        >
          Contenido es Requerido
        </div>
      </div> -->

      <!--  -->
<div class="form-group">
  <label class="text">Comentario</label>
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" class="form-control" >
       <div class="help-text"
        *ngIf="
          !postForm.get('content').valid && postForm.get('content').touched
        ">
      </div>
      </ngx-editor-menu>

<ngx-editor
  [editor]="editor"
  [(ngModel)]="html"
 formControlName="content"
  >
</ngx-editor>

<br>
<button type="button" (click)="Guardar()">Guardar</button>

<br><br>



</div>

      <!-- boton -->

      <div class="my-2">
        <button type="submit" class="btn btn-primary">añadir comentario</button>
      </div>
    </form>
  </div>

<!-- 
  <div>
    <a href="#" (click)="onClearPosts($event)"><b> borrar post <i class="fa-solid fa-circle-trash"></i> </b></a>
  </div> -->

  <br><br><br>

  <div>
    <table class="table" *ngIf="!error">
      <thead class="text">
        <th > TITULO:</th>
        <th>TEMA:</th>
      </thead>
      <hr class="hr" color="white">
      <tbody>
        <tr *ngFor="let post of posts" class="text">
          <td class="text" >{{ post.titulo }}</td>
          <td class="text"><div [innerHTML]="post.content"></div></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error">
      <div class="alert alert-danger">{{ error }}</div>
    </div>
  </div>


