<!-- <div class="container ">
  <div class="row">
    
      <app-navigation></app-navigation>
  

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="userAdded">User added button clicked</div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-4">
  <div class="row">
    <div class="col-md-5 text-center">
      <app-navigation></app-navigation>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
      <br> <br>
    </div>
  </div>
</div>
 -->
 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-navigation></app-navigation>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="userAdded">User added button clicked</div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

